header {
}
#upper_header_line {
	background: white;
	height: 33px;
	width: 100%;
	margin: 0;
	padding: 0; 
}
#upper_header_line ul {
	float: right;
	list-style: none;
	top: 3px; 
	right: 50px;
	padding: 0;
	height: 27px;
	display: none;
	position: relative;
}
#upper_header_line ul li {
	display: inline-block;
	border: 1px solid #cccccc;
	border-radius: 5px;
	height: inherit;
	margin: 0;
	margin-left: 5px;
	padding: 0; 
	box-shadow: 0px 0px 4px #999999;
	cursor: pointer;
}
#upper_header_line ul li:first-child {
	margin-left: 0px;
}
#upper_header_line ul li img {
	border-radius: 4px;
	width: 25px;
	margin: 0;
	padding: 0;
	box-shadow: inset 0 0 4px #999999;
}
#upper_header_line ul li img:hover {
	opacity: 0.5;
}
#upper_header_line ul li:hover {
	box-shadow: inset 0 0 4px #999999;
}
#lower_header_line {
	background: #222222;
	height: 80px;
	width: 100%;
	margin: 0;
	padding: 0; 
	padding-left: 38%;
}
#lower_header_line ul {
	list-style: none;
	display: none;
}
#lower_header_line ul li {
	display: inline-block;
	margin: 25px;
}
#lower_header_line ul li a {
	font-size: 1.6em;
}
#lower_header_line ul li a:hover {
	color: rgba(255,255,255,1);
	text-decoration: none;
}



                                                                     /* MAIN */

#main {
	min-width: 800px;
	width: 100%;
}
#left_column {
	height: 600px;
	width: 260px;
	left: 3%;
	top: 46px;
	margin: 0;
	padding: 0;
	position: fixed;}
#list {
	width: 70%;
	margin-left: 25%;
	margin-top: 20px;
	margin-bottom: 20px;
	right: 0px;
	background: white;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 8px #999999;
	display: none;}
#list:hover {
	box-shadow: none;
}
#list_line {
	width: 100%;
	background: rgba(51,51,51,1);
	margin: 20px auto;
	padding: 5px;
	text-align: center;
}
#list_line h1 {
	font-family: sans-serif;
	color: rgba(171,226,231,1);
	font-size: 3.0em;
	margin: 0;
	padding: 0;}
#content {
	margin: 2%;
	padding: 2%;}
.img_text {
	float: right;
	margin: 0;
	margin-left: 20px;
	width: 200px;
	border: 1px solid black;
}
.h2_text {
	background: -webkit-linear-gradient(left, rgba(171,226,231,1) 0%, #ffffff 100%);
	background: -moz-linear-gradient(left, rgba(171,226,231,1) 0%, #ffffff 100%);
	background: -o-linear-gradient(left, rgba(171,226,231,1) 0%, #ffffff 100%);
	background: linear-gradient(left, rgba(171,226,231,1) 0%, #ffffff 100%);
	padding-left: 10px;
	margin-left: -10px;
}
.text p {
	text-align: justify;
	font-size: 1.2em;
}
.post {
	margin: 0;
	padding: 0;
}
.post_end {
	width: 100%;
	clear: both;
}



#menu_square {
	margin-left: 3px;
	margin-bottom: 25px;
	width: 242px;
	height: 54px;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #999999;
	background: #272727;
	border: 1px solid #333333;
	color: rgba(171,226,231,1);
	font-weight: bold;
	font-size: 1.8em;
	font-family: sans-serif;
	padding: 10px;
	text-align: center;
	cursor: pointer;}
#menu_square:hover {
	font-size: 1.9em;
	cursor: pointer;}
.button1b, .button2b, .button3b, 
.button4b, .button5b, .button6b, 
.button7b, .button8b, .button9b, 
.button10b {
	float: left;
	background: white;
	margin: 8px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 8px #999999;
	padding: 0;
	display: none;}
.button1b:hover, .button2b:hover, .button3b:hover, 
.button4b:hover, .button5b:hover, .button6b:hover, 
.button7b:hover, .button8b:hover, .button9b:hover, 
.button10b:hover {
	box-shadow: inset 0 0 8px #999999;
	cursor: pointer;
	background: rgb(250,250,250);}
.button1b {
	width: 65px;
	height: 65px;}
.button2b, .button3b, .button7b {
	width: 150px;
	height: 65px;}
.button4b, .button9b {
	width: 65px;
	height: 150px;}
.button5b {
	width: 65px;
	height: 231px;
	margin-top: -75px;}
.button6b {
	width: 65px;
	height: 65px;
	margin-top: -75px;}
.button8b {
	width: 67px;
	height: 67px;}
.button10b {
	width: 150px;
	height: 65px;
	margin-top: -73px; }

#upper_footer_line {
	background: #222222;
	height: 80px;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;}
#upper_footer_menu {
	width: 70%;
	margin-right: 5%; 
	padding-top: 22px;
	float: right;
	color: rgba(171,226,231,1);
	font-weight: bold;
	font-size: 1.8em;
}
#upper_footer_menu a {
	color: rgba(171,226,231,1);
	font-weight: bold;
	font-size: 0.7em; 
}
#upper_footer_menu a:hover {
	color:white;
	text-decoration: none;
}
#upper_footer_info {
	width: 30%;
	padding-top: 10px;
}
#lower_footer {
	background: white;
	height: 33px;
	width: 100%;
	margin: 0;
	padding: 0; 
	bottom: 0px;
	color: black;
	text-align: right;
	padding-top: 5px;
	padding-right: 20px;
	clear: both;}
#bottom {
	display: none;
}
div a {
	color: rgba(171,226,231,1);
	font-weight: bold;
	font-size: 1.8em;
	font-family: sans-serif;
	text-decoration: none;}
div a:hover {color: rgba(171,226,231,0.5);}	



body {
	background: #ffffff;
	margin: 0;
	padding: 0;
	min-width: 1000px;
}

.three_img_line {
	width: 104%;
	margin: 20px auto;
	margin-left: -2%;
	text-align: center;
}
.img_three_line {
	width: 30%;
	border: 10px solid rgba(171,226,231,1);
	border-radius: 15px;
	margin: 1%;
	box-shadow: 0 0 15px #999999;
}
.post_offer {
	width: 23%;
	float: left;
	margin: 1%;
	padding: 1%;
	text-align: center;
}
.image_offer {
	width: 100%;
	border: 5px solid rgba(171,226,231,1);
	border-radius: 10px;
	box-shadow: 0 0 10px #999999;
}
.h4_offer {
	color: rgba(171,226,231,1);
	font-weight: bold;
	cursor: pointer;
}
.text_offer {
	text-align: justify;
	background: rgba(171,226,231,1);
	padding: 10px;
	border: 10px solid #222222;
	border-radius: 15px;
	cursor: pointer;
	position: absolute;
	margin-left: -280px;
	margin-top: -220px;
	width: 250px;
	height: 200px;
	display: none;
}
.black_triangular {
	width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid #222222;
    border-bottom: 30px solid transparent;
    position: absolute;
    margin-top: -175px;
    margin-left: -30px;
    display: none;
}
.blue_triangular {
	width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-left: 26px solid rgba(171,226,231,1);
    border-bottom: 26px solid transparent;
    margin-top: -171px;
    margin-left: -40px;
    position: absolute;
    display: none;
}
/*.text_offer {
	white-space: nowrap;
	text-align: justify;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 15px;
}
.text_offer:hover {
	background: rgba(171,226,231,1);
	padding: 10px;
	border: 10px solid #222222;
	cursor: pointer;
	overflow: visible;
	text-overflow: clip;
	white-space: normal;
	height: 100%;
	position: absolute;
	margin-top: -100px;
	width: 200px;
	height: 200px;
}*/
#text_about_us {
	width: 36%;
	float: left;
	padding: 1%;
	border-radius: 10px;
	text-align: justify;
}
#text_about_us h3 {
	color: #222222;
}
#text_about_us ul {
	list-style: square;
	color: #555555;
	margin-left: 40px;
}
#text_about_us ul span {
	margin-left: -20px;
}
#text_about_us blockquote {
	margin-left: 20px;
}
#text_about_us ul li {
	
}
#text_about_us p {
	font-size: 1.0em;
}
#image_about_us {
	width: 60%;
	float: right;
	padding: 1%;
	border-radius: 10px;
	text-align: center;
}
#image_about_us img {
	width: 100%;
	border: 10px solid rgba(171,226,231,1);
	box-shadow: 0px 0px 10px #222222;
}
#image_about_us p {
	font-size: 1.2em;
	font-weight: bold;
	color: #222222;
	margin-top: 3%;
	margin-bottom: 0;
	text-align: right;
	background: -webkit-linear-gradient(left, rgba(171,226,231,1) 0%, white 100%);
	background: -moz-linear-gradient(left, rgba(171,226,231,1) 0%, white 100%);
	background: -o-linear-gradient(left, rgba(171,226,231,1) 0%, white 100%);visibility: 
	background: linear-gradient(left, rgba(171,226,231,1) 0%, white 100%);
}
#images_down_line {
	width: 100%;
	padding: 1%;
	background: -webkit-linear-gradient(top, white 0%, #222222 50%, white 100%);
	background: -moz-linear-gradient(top, white 0%, rgba(171,226,231,1) 50%, white 100%);
	background: -o-linear-gradient(top, white 0%, rgba(171,226,231,1) 50%, white 100%);
	background: linear-gradient(top, white 0%, rgba(171,226,231,1) 50%, white 100%);
	text-align: center;
}
#images_down_line img {
	width: 9%;
	margin: 0%;
	margin-left: 0.5%;
	box-shadow: 1px 1px 2px #222222;
	padding: 0;
}
#images_down_line img:first-child {
	margin-left: 0;
}